:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

/* Toolbar Node */

.react-flow__node-toolbar {
    background-color: #F1F3F4;
    border-radius: 16px;
    overflow: hidden;
}

.react-flow__node-toolbar button {
    cursor: pointer;
    background: inherit;
    border: none;
    padding: 5px 7px;
    margin: 3px;
    border-radius: 50%;
    box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node-toolbar button:hover {
    background: #4d4d4d;
}